name: secure_me
description: "A new Flutter project."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev


version: 1.0.0+1

environment:
  sdk: ^3.9.0


dependencies:
  flutter:
    sdk: flutter

  
  cupertino_icons: ^1.0.8
  get: ^4.7.2
 
  intl: ^0.20.2
  shared_preferences: ^2.5.3
  http: ^1.5.0
  pinput: ^5.0.1
  remixicon: ^1.4.1
  google_fonts: ^6.3.1
  flutter_callkit_incoming: ^3.0.0
  geolocator: ^14.0.2
  google_maps_flutter: ^2.13.1
  share_plus: ^12.0.0
  url_launcher: ^6.2.6
  get_storage: ^2.1.1
  permission_handler: ^12.0.1
  connectivity_plus: ^7.0.0
  internet_connection_checker: ^1.0.0+1
  flutter_ringtone_player: ^4.0.0+4
  vibration: ^3.1.3
  upgrader: ^12.0.0
  firebase_core: ^4.1.1


  path_provider: any
dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^6.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:


  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
